/* This is temp test to see if it's picked up by Webpacker */

:root {
  --background: teal;
}

a {
  color: green;
  border-radius: 1px;
}

body {
  background: var(--background);
  color: white;
}

/* These test PostCSS is working... */

::placeholder {
  color: pink;
}

nav :any-link {
  background-color: yellow;
}
